[Unit]
Description=NosStudio Core Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/nos-core
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target